.inicio{
    display: grid;
    text-align: center;
    width: 30%;
    padding-left: 17em;
    color: #FFF;
    margin-top: 3em;
}

.inicio h1{
    font-size: 30px;
}

.inicio p{
    font-size: 20px;
}

.botao{
    width: 43%;
    text-decoration: none;
    color: #FFF;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin-top: 2em;
    margin-bottom: 5.6em;
    margin-left: 6em;
    font-size: 25px;
}

.botao:active{
    background-color: #e2e2e2;
    color: #000;
    font-weight: bold;
}