body {
  margin: 0;
  
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 36px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
